/* General */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(73, 92, 110);
    margin: 0;
}

/* Top navigation bar */

#topnav {
    background-color: rgb(43, 61, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 12px 8px;
}

#topnav button:hover {
    cursor: pointer;
}

#topnav form {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

#topnav label {
    position: relative;
}

#topnav label::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='m19.6 21-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5 7.625 5 6.312 6.312 5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

#topnav input {
    background-color: rgb(169, 168, 168);
    border: none;
    border-radius: 20px;
    padding: 8px 36px 8px 16px;
    width: 200px;
}

#topnav div:first-child button {
    background: none;
    border: none;
    fill: white;
}

#topnav div:last-child {
    display: flex;
}

#topnav div:last-child button {
    background-color: rgb(22, 95, 162);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px 20px;
}

/* Side bar */

#sidebar {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 97;
}

#sidebar a {
    color: white;
    padding: 18px 14px;
    text-decoration: none;
}

#sidebar a:nth-child(even) {
    background-color: rgb(73, 92, 110);
}

#sidebar button {
    background: none;
    border: none;
    fill: white;
}

#sidebar button:hover {
    cursor: pointer;
}

#sidebar > div {
    background-color: rgb(57, 74, 90);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
}

#sidebar > div > div {
    align-items: center;
    background-color: rgb(13, 30, 47);
    display: flex;
    justify-content: space-between;
}

#sidebar > div > a {
    display: block;
}

/* Login modal */
#login {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    color: rgb(154, 145, 145);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: 98;
}

#login button {
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
}

#login button:hover {
    cursor: pointer;
}

#login input {
    background-color: rgb(217, 217, 217);
    border: none;
    border-radius: 7px;
    display: block;
    margin-bottom: 16px;
    padding: 8px 12px;
    width: 400px;
}

#login p {
    margin-bottom: 8px;
}

#login > div {
    background-color: rgb(43, 61, 78);
    border-radius: 20px;
}

#login > div > div:first-child {
    display: flex;
    justify-content: right;
}

#login > div > div:first-child > button {
    background: none;
    border: none;
    fill: white;
}

#login > div > div:last-child {
    padding: 0 40px 16px 40px;
}

#login > div > div:last-child > button {
    background-color: rgb(255, 255, 255);
    color: black;
}

#login > div > div:last-child > a > button {
    background-color: rgb(22, 95, 162);
    color: white;
    margin-bottom: 8px;
}

/* Register modal */
#register {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    color: rgb(154, 145, 145);
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: 99;
}

#register button {
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
}

#register button:hover {
    cursor: pointer;
}

#register input {
    background-color: rgb(217, 217, 217);
    border: none;
    border-radius: 7px;
    display: block;
    margin-bottom: 16px;
    padding: 8px 12px;
    width: 400px;
}

#register > div {
    background-color: rgb(43, 61, 78);
    border-radius: 20px;
}

#register > div > div:first-child {
    display: flex;
    justify-content: space-between;
}

#register > div > div:first-child > button {
    background: none;
    border: none;
    fill: white;
}

#register > div > div:last-child {
    padding: 0 40px 16px 40px;
}

#register > div > div:last-child > button {
    background-color: rgb(22, 95, 162);
    color: white;
}